<div class="container-fluid px-0" *ngIf="getGifs()">
  <div class="input-wrapper d-flex">
    <input class="search-input" name="title" [value]="term" placeholder="Search Gif.." #searchTerm>
    <button class="search-button" (click)="doSearch(searchTerm.value)"><i class="fa fa-search"></i></button>
  </div>
  <br>
  <div class="gif-wrapper">
    <img class="gif-inner" *ngFor='let gif of getGifs(), let gifIndex=index' src="{{getGifImageUrl(gifIndex)}}" alt="">
  </div>
  <button class="load-more-button" (click)="loadMoreSearchResult(searchTerm)">Load More</button>
</div>
