<div class="container-fluid px-0" *ngIf="getGifs()">
  <app-giphy-search-input (onSearch)="doSearch($event)"></app-giphy-search-input>
  <br>

  <div class="gif-wrapper" *ngIf="hasResult()">
    <img class="gif-inner" *ngFor='let gif of getGifs(), let gifIndex=index' src="{{getGifImageUrl(gifIndex)}}" alt="">
  </div>

  <div class="gif-no-result">
    <span *ngIf="!hasResult()">No search results found.</span>
  </div>

  <button class="load-more-button" *ngIf="!isLoading() && hasResult()" (click)="loadMoreSearchResult()">Load More</button>
  <div class="loading-spinner" *ngIf="isLoading()"></div>
</div>
