@import "~bootstrap/scss/bootstrap-grid.scss";

.gif-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 410px);

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 410px);
  }

  .gif-inner {
    margin: 10px auto;
    width: 400px;
    height: 400px;

    @include media-breakpoint-down(sm) {
      margin: 10px 0;
      width: 100%;
    }
  }
}

@mixin loading-spinner($activeColor: hotpink, $selector: "&::before", $time: 1.5s) {
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

  animation-play-state: running;
  opacity: 1;
  position: relative;

  &.-paused {
    animation-play-state: paused;
    opacity: 0.2;
    transition: opacity linear 0.1s;
  }

  #{$selector} {
    animation: $time linear infinite spinner;
    animation-play-state: inherit;
    border: solid 3px #dedede;
    border-bottom-color: #{$activeColor};
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    will-change: transform;
  }
}


.loading-spinner {
  @include loading-spinner;
  height: 100vh;
}
