<div class="container-fluid px-0" *ngIf="getTrendingGifs()">
  <app-giphy-search-input (onSearch)="navigateSearch($event)"></app-giphy-search-input>
  <br>
  <div infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()"
       class="gif-wrapper"
       *ngIf="!isLoading()">
    <img class="gif-inner" *ngFor='let gif of getTrendingGifs(), let gifIndex=index' src="{{getGifImageUrl(gifIndex)}}"
         alt="">
  </div>

  <div class="loading-spinner" *ngIf="isLoading()"></div>
</div>
